/* *{
    background-color: rgb(224, 159, 159);
} */

.TimeDisplay{
    font-size: larger;
}

.header{
    padding-left: 15px;
    padding-top: 15px;
    font: 1.5em sans-serif;
}

.div{
    background-color: red;
}

#quiz-section{
    background-color: rgb(95, 121, 236);
    margin: 5%;
    border-top: 20px;
    border-radius: 100px;
}

#start-button{
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    background-color: aquamarine;
    font: 1.5em sans-serif;
}